@import "reset";
@import "components/index";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "PlutoSans", "Helvetica";
  font-weight: 200;

  color: black;

  overflow: auto;

  #root {
    z-index: 0;
    position: relative;
    --green: #72cbc9;
  }
}

.main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.button {
  color: white;
  background: var(--green);
  border: none;
  border-radius: 10px;
}
